<div class="container mt-3">
    <h2>Structural Directives Example!</h2>

    <div *ngIf="people.length == 0">
        <button class="btn btn-primary" (click)="loadPeople()">Load People</button>
    </div>

    <div *ngIf="people.length > 0">
        <table class="table table-striped m-6 table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of people">
                    <td>{{ person.name }}</td>
                    <td>{{ person.state }}</td>
                    <td>{{ person.country }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <label for="number">Please Enter your number</label>
        <input type="text" name="number" id="number" [(ngModel)]="number" />
    </div>

    <div [ngSwitch]="number" class="mt-2">
        <div *ngSwitchCase="1">One</div>
        <div *ngSwitchCase="2">Two</div>
        <div *ngSwitchCase="3">Three</div>
        <div *ngSwitchCase="4">Four</div>
        <div *ngSwitchDefault>Not a considered number</div>
    </div>
</div>