<!-- <app-header></app-header>
<app-home></app-home> -->
<!-- <app-binding></app-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-parent></app-parent> -->
<!-- <app-templateform></app-templateform> -->
<!-- <app-number-parent></app-number-parent> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-date></app-date> -->
<!-- <app-directive-usage></app-directive-usage> -->
<!-- <app-structural></app-structural> -->
<!-- <app-built-in-pipes></app-built-in-pipes> -->

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pipes">Pipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/directives">Directives</a>
  </li>
</ul>

<router-outlet></router-outlet>
